## .prettierrc

{
    "singleQuote" : true,
    "semi" : true,
    "useTabs" false,
    "tabWidth":4,
    "trailingComma": "all",
    "printWIDTH": 120,
    "parser": "babel",
    "bracketSpacing": true,
    "arrowParens": "avoid"
}